.store-container{
    background-image: url(/src/Assets/img/cb.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
display: flex; 
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
}

.store-content{

    margin-left: 10%;

}